absl-py==0.15.0
astunparse==1.6.3
attrs==25.3.0
cachetools==4.2.4
cattrs==23.1.1
certifi==2025.1.31
charset-normalizer==3.4.1
cloudpickle==3.1.1
contourpy==1.1.1
cycler==0.12.1
exceptiongroup==1.2.2
flatbuffers==1.12
fonttools==4.56.0
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.34.1
gym==0.26.2
gym-notices==0.0.8
h5py==3.1.0
idna==3.10
importlib_metadata==8.5.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.6.3
mlagents==0.18.0
mlagents-envs==0.18.0
numpy==1.19.5
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==24.2
pandas==1.4.4
pillow==10.4.0
protobuf==3.20.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyparsing==3.1.4
pypiwin32==223
python-dateutil==2.9.0.post0
pytz==2025.1
pywin32==310
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
six==1.15.0
stable-baselines3==1.1.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
torch==1.13.1
typing-extensions==3.7.4.3
urllib3==2.2.3
Werkzeug==3.0.6
wrapt==1.12.1
zipp==3.20.2
